{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <title>Activity</title>
</head>
<body>
    <style>
        nav {
            min-height: 60px;
        }

        .navbar a{
            font-family: "Montserrat";
            font-size: 20px;
            font-weight: 500;
            margin-right: 10px;
        }
        html {
            background-color: #BFCDCC;
        }
        #outside {
            background-color: #BFCDCC;
        }
        #inside {
            padding-left: 100px;
            padding-right: 100px;
        }
    </style>
    
    <div id="outside">
        <!-- <nav class="navbar navbar-expand-lg navbar-light transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/">Home</a>
                <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Story</a>
                    <div class="dropdown-menu" style="margin-left: auto;">
                    <a class="dropdown-item" href="/story1">Story 1</a>
                    <a class="dropdown-item" href="/story5/">Story 5</a>
                    <a class="dropdown-item" href="/story6/">Story 6</a>
                    </div>
                </div>
                <a class="nav-link" href="/#profile">Profile</a>
                <a class="nav-link" href="/#experiences1">Experiences</a>
                <a class="nav-link" href="/#skills">Skills</a>
                <a class="nav-link" href="/#contact">Contact</a>
                <a class="nav-link" href="/gallery">Gallery</a>
            </div>
        </div>
        </nav> -->
        <br>
        <div id="inside">
            <div class="h1 text-center" style="font-weight:bold">ADD ACTIVITY</div>
            <form id="form" method="POST" action="/story6/post-kegiatan" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ forms.kegiatan_form.as_p }}
                </div>
                <button type="submit" class="btn btn-secondary" id="bton">Tambah Kegiatan</button>
            </form>
        <br><br>

        {% for kegiatan in data.kegiatan %}
            <div class="card border-dark mb-3" style="max-width: 18rem; text-align: center; margin: 0 auto;
                float: none;
                margin-bottom: 10px;">
                <div class="card-header">{{ kegiatan.nama }}</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Peserta : </h5>
                    {% for peserta in data.peserta %}
                        {% if peserta.kegiatan.nama == kegiatan.nama %}
                            <p class="card-text">{{ peserta.nama }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <form id="form" method="POST" action="/story6/post-peserta/{{ kegiatan.id }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ forms.peserta_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-secondary" id="bton">Tambah Peserta</button>
                </form>
            </div>
        </div>
{% endfor %}
    </div>
    


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>