* {
    margin: 0;
    padding: 0;
}

body, html {
    color: white;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body {
    background-image: url("city.47a62c4fbe19.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.center .avatar img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 5%;
    object-fit: cover;
    object-position: 0 -8px ;
}

.center {
    margin: 8%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 5px;
}

.content {
    padding: 30px;
}

h3, h5 {
    color: wheat;
}

.row {
    display: flex;
}
  
.column {
    flex: 55%;
    padding: 5px;
}

td, th {
    color: white;
}