{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Course</title>
{% endblock %}

{% block content %}
<style>
    #wrapper {
        font-family: 'Montserrat', sans-serif;
        padding-left: 100px;
        padding-right: 100px;
    }
</style>
{% include 'navbar.html' %}
<div class="container-fluid " id="wrapper">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-4" id="content" style="border-radius:10px">
            <div class="h1 text-center" style="font-weight:bold">ADD COURSE</div>
            <form action="/story5/post/" method="POST" enctype="multipart/form-data" role="form">
                {% csrf_token %}
                <table>
                <div class="form-group">
                    <label for="matkul" style="font-size: 16px">Mata Kuliah</label>
                    <div class="input-group">
                        {{form.matkul}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="dosen" style="font-size: 16px">Dosen Pengajar</label>
                    <div class="input-group">
                        {{form.dosen}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="jumlahsks" style="font-size: 16px">Jumlah SKS</label>
                    <div class="input-group">
                        {{form.jumlahsks}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="deskripsi" style="font-size: 16px">Deskripsi</label>
                    <div class="input-group">
                        {{form.deskripsi}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="smttahun" style="font-size: 16px">Semester Tahun</label>
                    <div class="input-group">
                        {{form.smttahun}}
                    </div>
                </div>
                    <div class="form-group">
                        <label for="ruangan" style="font-size: 16px">Ruangan</label>
                        <div class="input-group">
                            {{form.ruangan}}
                        </div>
                </div>
                </table>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-secondary" id="add-btn">ADD</button>
                </div>
            </form>

            <div class="h1 text-center" id="courselist" style="font-weight:bold; padding-top: 20px;">COURSE LIST</div>
            <div style="padding-top: 10px;">
                <table class="table table-bordered">
                    <tr>
                        <th>Course</th>
                    </tr>
                    {% for i in data %}
                    <tr>
                        <td>
                            <a href="/story5/{{ i.matkul }}/">
                                <p>{{ i.matkul }}</p>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}