{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Detail Course</title>
{% endblock %}

{% block content %}
<style>
    #detailcourse {
        font-family: 'Montserrat', sans-serif;
        padding-left: 100px;
        padding-right: 100px;
    }
    .btncourse {
        text-align: center;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light transparent">
    <a class="navbar-brand" href="#">
        <img src='{% static "/images/logo.svg" %}' width=60% alt="" style="margin-top: 10px; margin-left: 10px;">
    </a>
</nav>
<div id="detailcourse">
    <div class="h1 text-center" id="course" style="font-weight:bold; padding-top: 20px;">DETAIL COURSE LIST</div>
    <div class="btncourse">
        <a href="/story5">
            <button type="submit" class="btn btn-secondary">Back</button>
        </a>
        {% for i in data %}
        <a href="/story5/delete/{{ i.matkul }}">
            <button type="submit" class="btn btn-secondary">Delete</button>
        </a>
        {% endfor %}
    </div>
    <div style="padding-top: 10px;">
        <table class="table table-bordered">
            <tr>
                <th>Content</th>
                <th style="text-align: center;">Detail</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>
                    <p>Mata Kuliah</p>
                    <p>Dosen Pengajar</p>
                    <p>Jumlah SKS</p>
                    <p>Deskripsi</p>
                    <p>Semester Tahun</p>
                    <p>Ruangan</p>
                </td>
                <td>
                    <p>{{ i.matkul }}</p>
                    <p>{{ i.dosen }}</p>
                    <p>{{ i.jumlahsks }}</p>
                    <p>{{ i.deskripsi }}</p>
                    <p>{{ i.smttahun }}</p>
                    <p>{{ i.ruangan }}</p>
                </td>
            </tr>
        </table>
    </div>
</div>

        {% endfor %}
{% endblock %}