{% load static %}
<nav class="navbar navbar-expand-lg navbar-light transparent">
    <a class="navbar-brand" href="#">
        <img src='{% static "/images/logo.svg" %}' width=60% alt="" style="margin-top: 10px; margin-left: 10px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="/">Home</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Story</a>
            <div class="dropdown-menu" style="margin-left: auto;">
              <a class="dropdown-item" href="/story1">Story 1</a>
              <a class="dropdown-item" href="/story5/">Story 5</a>
              <a class="dropdown-item" href="/story6/">Story 6</a>
            </div>
        </div>
        <a class="nav-link" href="/#profile">Profile</a>
        <a class="nav-link" href="/#experiences1">Experiences</a>
        <a class="nav-link" href="/#skills">Skills</a>
        <a class="nav-link" href="/#contact">Contact</a>
        <a class="nav-link" href="/gallery">Gallery</a>
      </div>
    </div>
</nav>