{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Gallery</title>
{% endblock %}

{% block content %}

<!-- Frame Gallery-->
<section id="gallery">
    {% include 'navbar.html' %}
    <div class="container justify-content-center">
        <div class="row" style="width: 100%;">
            <div class="col">
                <div class="row">
                    <div class="title">
                        <h1>Memories</h1>
                        <p>"A moment lasts all of a second, but the memory lives on forever."<br>
                            - Unknown
                        </p>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="card img-card" style="width: 15rem; border-radius: 40px;">
                        <div class="card-body">
                            <img src='{% static "/images/papandayan.svg" %}' class="card-img-top">
                            <p class="card- text-center pt-3">
                                10th July 2020<br>
                                Mt. Papandayan<br>
                                Base Camp
                            </p>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card img-card" style="width: 15rem; border-radius: 40px;">
                        <div class="card-body">
                            <img src='{% static "/images/vacation.svg" %}' class="card-img-top">
                            <p class="card- text-center pt-3">
                                10th July 2020<br>
                                Mt. Papandayan<br>
                                Pos 1
                            </p>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card img-card" style="width: 15rem; border-radius: 40px;">
                        <div class="card-body">
                            <img src='{% static "/images/concert.svg" %}' class="card-img-top">
                            <p class="card- text-center pt-3">
                                2nd February 2020<br>
                                Berdendang Bergoyang Concert
                            </p>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card img-card" style="width: 15rem; border-radius: 40px;">
                        <div class="card-body">
                            <img src='{% static "/images/kuntoaji.svg" %}' class="card-img-top">
                            <p class="card- text-center pt-3">
                                2nd February 2020<br>
                                Berdendang Bergoyang Concert
                            </p>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
      </div>
</section>

{% endblock %}