{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}

<!-- Frame Home-->
<section id="home">
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row" style="width: 100%;">
          <div class="col">
              <div class="row">
                  <div class="col" style="text-align: center;">
                      <img src='{% static "/images/keiko.svg" %}' alt="photo" width="250vw" style="margin-bottom: 20px;">
                  </div>
                  <div class="col">
                    <h1>Hello! I am</h1>
                    <h1 style="color: #946E1F; font-weight: bold;">Keiko</h1>
                    <h2>Student of Web <br> Designing & Programming</h2>
                  </div>
              </div>
          </div>
        </div>
      </div>
</section>

<!-- Frame Profile -->
<section id="profile">
    <nav class="navbar navbar-expand-lg navbar-light transparent">
        <a class="navbar-brand" href="#">
            <img src='{% static "/images/logo.svg" %}' width=60% alt="" style="margin-top: 10px; margin-left: 10px;">
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="title">
                        <h1>Profile</h1>
                        <p>I am a Sophomore student in Information System</p>
                    </div>
                </div>
                <div class="row">
                  <div class="col" style="text-align: right;">
                    <h3 style="color: #189D94;">About Me</h3>
                    <p>I am an <span style="font-weight: bold;">ISFJ-T</span> person who paying attention on every details or you can say I am a perfectionist person. I love to travel and my goals are be able to travel around the world. </p>
                  </div>
                  <div class="col" style="text-align: center;">
                    <img src='{% static "/images/profilephoto.svg" %}' width="246">
                  </div>
                  <div class="col" style="text-align: left;">
                    <h3><span style="color:#189D94">Details</span></h3>
                    <p><span style="font-weight: bold;">Name:</span> <br>
                        Keiko Aaliya Hernowo Putri <br>
                        <span style="font-weight: bold;">Number:</span> <br>
                        1906298960 <br>
                        <span style="font-weight: bold;">Class of:</span><br>
                        2019</p>
                  </div>
                </div>
            </div>
        </div>
      </div>
</section>

<!-- Frame Experiences 1 -->
<section id="experiences1">
    <nav class="navbar navbar-expand-lg navbar-light transparent">
        <a class="navbar-brand" href="#">
            <img src='{% static "/images/logo.svg" %}' width=60% alt="" style="margin-top: 10px; margin-left: 10px;">
        </a>
    </nav>
    <div class="container">
        <div class="row" style="width: 100%;">
          <div class="col">
            <div class="row">
            <div class="title">
                <h1>Experiences</h1>
                <p>“The only source of knowledge is experience.”<br>
                    ― Albert Einstein</p>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-left">
                    <div class="row">
                        <div class="card">
                            <div class="col-sm-left">
                                <img src='{% static "/images/fasilkom.svg" %}'>
                            </div>
                            <div class="col-sm-right">
                                <span style="font-weight: bold;">Faculty of Computer Science in University of Indonesia<br></span>
                                2019 - present 
                            </div>
                        </div>
                        <div class="card">
                            <div class="col-sm-left">
                                <img src='{% static "/images/nipam.svg" %}'>
                            </div>
                            <div class="col-sm-right">
                                <span style="font-weight: bold;">3 South Tangerang Senior High School<br></span>
                                2016 - 2019
                            </div>
                        </div>
                        <div class="card">
                            <div class="col-sm-left">
                                <img src='{% static "/images/smp.svg" %}'>
                            </div>
                            <div class="col-sm-right">
                                <span style="font-weight: bold;">11 South Tangerang Junior High School<br></span>
                                2013 - 2016
                            </div>
                        </div>
                        <div class="card">
                            <div class="col-sm-left">
                                <img src='{% static "/images/sd.svg" %}'>
                            </div>
                            <div class="col-sm-right">
                                <span style="font-weight: bold;">PUSPIPTEK Primary School<br></span>
                                2013 - 2007
                            </div>
                        
                        </div>                            
                        
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<!-- Frame Experiences 2 -->
<section id="experiences2">
    <nav class="navbar navbar-expand-lg navbar-light transparent">
        <a class="navbar-brand" href="#">
            <img src='{% static "/images/logo.svg" %}' width=60% alt="" style="margin-top: 10px; margin-left: 10px;">
        </a>
    </nav>
    <div class="experiences2 container">
        <div class="experiences2bg">
            <div class="experiences2-row">
                <div class="experiences2 colex2-1">
                    
                </div>
                <div class="experiences2 colex2-2">
                    <img src='{% static "/images/ddp0.svg" %}' alt="ddp0" width="70px">
                </div>
                <div class="experiences2 colex2-3">
                    <p><span style="font-weight: bold;">DDP0</span><br>
                        Mentor<br>
                        September 2020
                        </p>
                </div>
            </div>
            <div class="experiences2-row">
                <div class="experiences2 colex2-1">
                    <p><span style="font-weight: bold;">PMB Fasilkom UI</span><br>
                        Staff of Public Relation<br>
                        August 2020 - Present
                    </p>
                </div>
                <div class="experiences2 colex2-2">
                    <img src='{% static "/images/pmb.svg" %}' alt="pmb" width="70px">
                </div>
                <div class="experiences2 colex2-3">

                </div>
            </div>
            <div class="experiences2-row">
                <div class="experiences2 colex2-1">
                    
                </div>
                <div class="experiences2 colex2-2">
                    <img src='{% static "/images/okk.svg" %}' alt="okk" width="70px">
                </div>
                <div class="experiences2 colex2-3">
                    <p><span style="font-weight: bold;">OKK UI</span><br>
                        Mentor<br>
                        June 2020 - September 2020
                    </p>
                </div>
            </div>
            <div class="experiences2-row">
                <div class="experiences2 colex2-1">
                    <p><span style="font-weight: bold;">Open House Fasilkom UI</span><br>
                        Person in Charge of Event<br>
                        May 2020 - Present
                    </p>
                </div>
                <div class="experiences2 colex2-2">
                    <img src='{% static "/images/oh.svg" %}' alt="oh" width="70px">
                </div>
                <div class="experiences2 colex2-3">

                </div>
            </div>
            <div class="experiences2-row">
                <div class="experiences2 colex2-1">
                    
                </div>
                <div class="experiences2 colex2-2">
                    <img src='{% static "/images/cf.svg" %}' alt="compfest" width="70px">
                </div>
                <div class="experiences2 colex2-3">
                    <p><span style="font-weight: bold;">COMPFEST</span><br>
                        Staff of Digital Marketing<br>
                        February 2020 - Present
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Frame Skills -->
<section id="skills">
    <nav class="navbar navbar-expand-lg navbar-light transparent">
        <a class="navbar-brand" href="#">
            <img src='{% static "/images/logo.svg" %}' width=60% alt="" style="margin-top: 10px; margin-left: 10px;">
        </a>
    </nav>
    <div class="container">
        <div class="row" style="width: 100%;">
            <div class="col">
                <div class="row">
                    <div class="title">
                        <h1>Skills</h1>
                        <p>“Any weapon is a good weapon as long as ye can use it with honor and skill.”<br>
                            ― Brian Jacques, High Rhulain</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center; padding-left: auto;">
                      <span style="font-weight: bold; font-size: 20px;">
                      Communication<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><br>
                      Active Listening<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><br>
                      Time Management<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><br>
                      Leadership<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><br>
                      Adaptability<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star">
                      </span>
                    </div>
                  <div class="col" style="text-align: center; padding-left: auto;">
                    <span style="font-weight: bold; font-size: 20px;">
                    Microsoft<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><br>
                    Java<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><br>
                    Python<img src='{% static "/images/star.svg" %}' id="star"><img src='{% static "/images/star.svg" %}' id="star"><br>
                    HTML<img src='{% static "/images/star.svg" %}' id="star"><br>
                    CSS<img src='{% static "/images/star.svg" %}' id="star">
                    </span>
                  </div>
                </div>
            </div>
        </div>
      </div>
</section>

<!--Frame Contact -->
<section id="contact">
    <div class="footer">
        <h2>Contact</h2>
        <a href="http://linkedin.com/in/keikoaaliya"><img src='{% static "/images/linkedin.svg" %}' alt="linkedinkeiko"></a>
        <a href="http://instagram.com/keikoaaliya"><img src='{% static "/images/ig.svg" %}'alt="igkeiko"></a>
        <a href="http://twitter.com/keikoaaliya"><img src='{% static "/images/twitter.svg" %}' alt="twitterkeiko"></a>
        <a href="keikoaaly@gmail.com"><img src='{% static "/images/gmail.svg" %}' alt="gmailkeiko"></a><br>
        <p>&copy;Keiko Aaliya. All rights reserved.</p>
    </div>
</section>
    

{% endblock %}
