* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
}

#home {
    background-color: #BFCDCC;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100vw;
}

nav {
    min-height: 60px;
}

.navbar a{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

#profile {
    background-color: white;
    background-size: cover;
    position: relative;
}

.title {
    justify-content: center;
    text-align: center;
    justify-items: center;
    width: 100%;
    margin-bottom: 30px;
}

#experiences1 {
    background-color: #BFCDCC;
    background-size: cover;
    position: relative;
}

.align-self-start {
    margin-bottom: 30px;
}

.align-self-center {
    margin-bottom: 30px;
}


#experiences1 .row{
    justify-content: center;
    margin: 0;
}
#experiences1 .row .card{
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    flex-direction: row;
    align-items: right center;
    width: 25rem;
}
#experiences1 .row img{
    padding-right: 20px;

}
#experiences .row .card .col-sm-left{
    width: 50px;
}
#experiences .row .col .row .col-sm-left .row{
    margin: 0px;
}


#edu {
    width: 90px;
}

#experiences2 {
    background-color: #BFCDCC;
    background-size: cover;
    position: relative;
}

.experiences2bg {
    width:100%;  
    margin:33px;
    display:table;
}

.experiences2-row {
    display: flex;
}

.experiences2{
    flex: 50%;
    padding: 10px;
}

.colex2-1 {
    flex: 50%;
    width: 100px;
    padding: 10px;
    text-align: right;
}

.colex2-2 {
    flex: 50%;
    width: 100px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.colex2-3 {
    flex: 50%;
    width: 100px;
    padding: 10px;
}


#skills {
    background-color: white;
    background-size: cover;
    position: relative;
    justify-content: center;
}

#star {
    width: 20px;
}

#contact{
    background-color: #BFCDCC;
    position: relative;
}

.footer {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.footer h2 {
    font-size: 45px;
    font-weight: 500;
}
.footer img {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#gallery {
    background-color: #BFCDCC;
    background-size: cover;
    position: relative;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* #gallery .row .card{
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    flex-direction: row;
    align-items: right center;
    width: 15rem;
} */

.img-card {
    border-radius: 40px;
    margin: auto;
    margin-top: 35px;
}